* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
}

body {
  background-color: #161d26;
}

header {
  background-color: #1f2935;
  height: 100px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.1);
}

.content-size {
  max-width: 1170px;
  width: 100%;
  display: flex;
  align-items: center;
}

header .content-size,
#welcome .content-size {
  justify-content: space-between;
}

.name-icon {
  font-size: 4.875rem;
  color: #0abead;
}

.navigation {
  text-transform: capitalize;
}

nav ul {
  display: flex;
}

ul {
  list-style: none;
}

nav li {
  margin: 0 1.5625rem;
  font-size: 1rem;
}

nav li:last-of-type {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #95a5c6;
  transition: color 0.4s ease;
}

nav a:hover,
nav a.is-active {
  color: #0abead;
}

.burger-menu-btn {
  display: none;
  cursor: pointer;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.burger-line {
  display: block;
  height: 4px;
  width: 30px;
  background-color: white;
  border-radius: 15%;
  margin-bottom: 6px;
  position: relative;
  transition: all 0.2s ease;
}

.burger-line:last-of-type {
  margin-bottom: 0;
}

.burger-menu-btn.is-active .burger-line:nth-child(2) {
  opacity: 0;
  display: none;
}

.burger-menu-btn.is-active .burger-line:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: 0;
}

.burger-menu-btn.is-active .burger-line:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  margin-bottom: 0;
}

#welcome {
  min-height: calc(100vh - 100px);
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.welcome-info {
  display: flex;
  flex-direction: column;
}

.about-me-btns {
  display: flex;
  flex-direction: row;
}

.introduce {
  font-size: 1.75rem;
  color: #0abead;
  line-height: 33.6px;
  margin-bottom: 0.75rem;
  display: block;
}

.name {
  color: #f57f17;
}

.field {
  font-size: 3.125rem;
  color: #0abead;
  line-height: 60px;
  margin-bottom: 0.5625rem;
}

.welcome-info p {
  font-size: 1rem;
  color: rgba(149, 165, 198, 0.71);
  line-height: 19.2px;
  margin-bottom: 2.275rem;
}

button {
  display: flex;
  height: 60px;
  width: 200px;
  font-size: 1rem;
  line-height: 19.2px;
  border-radius: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  transition: background 0.2s ease;
}

.about-me-btns button {
  margin-right: 1.875rem;
}

.about-me-btns button:last-of-type {
  margin-right: 0px;
}

.cyan {
  background-color: #0abead;
  box-shadow: 0 16px 29px 0 rgba(11, 190, 173, 0.41);
}

.orange {
  background-color: #f57f17;
  box-shadow: 0 16px 28px 0 rgba(245, 127, 23, 0.24);
}

.about-me-btns button:hover,
.about-me-btns button:focus,
.about-me-btns button:active {
  outline: none;
}

.cyan:hover,
.cyan:focus,
.cyan:active {
  background-color: #0bab9b;
}

.orange:hover,
.orange:focus,
.orange:active {
  background-color: #d56e13;
}

.welcome-img {
  height: 570px;
  width: 570px;
  border-radius: 50%;
  border: 29px solid #1f2935;
  overflow: hidden;
}

.welcome-img img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.welcome::after {
  content: url(/images/layer-dark.png);
  position: absolute;
  bottom: 0;
}

#about-us {
  display: flex;
  justify-content: center;
  padding-top: 6.25rem;
}

#about-us .content-size {
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.875rem;
  position: relative;
}

.heading::before {
  content: '';
  display: inline-block;
  width: 39px;
  height: 11px;
  border-radius: 5.5px;
  background-color: #0abead;
  position: absolute;
  top: 128px;
}

.heading::after {
  content: '';
  display: inline-block;
  width: 240px;
  border-top: 1px solid #0abead;
  position: absolute;
  top: 133px;
}

.heading h2 {
  color: #0abead;
  font-size: 3rem;
}

.heading p {
  font-size: 1rem;
  color: #95a5c6;
  line-height: 19.2px;
  letter-spacing: 2.5;
}

.about-us-info {
  display: flex;
}

.about-us-img {
  height: 648px;
  width: 570px;
}

.about-us-img img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.about-us-text {
  background-color: #1f2935;
  padding: 3.625rem 2.125rem;
}

.about-us-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1.0625rem;
  line-height: 24px;
}

.about-us-text p,
.about-us-text ul li {
  font-size: 1rem;
}

.about-us-text p {
  margin-bottom: 1.4375rem;
  line-height: 24px;
}

.about-us-text h4 {
  font-size: 1.125rem;
  margin-bottom: 0.875rem;
  list-style: 21.6px;
  font-weight: 600;
}

.about-us-text {
  color: #95a5c6;
}

.about-us-text ul li {
  line-height: 19.2px;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
}

.about-us-text ul li:last-of-type {
  margin-bottom: 0;
}

.about-us-text ul li::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f57f17;
  margin-right: 1.0625rem;
}

.about-us-text ul {
  margin-bottom: 5.5rem;
  padding: 0.625rem;
}

#services {
  padding-top: 6.25rem;
  display: flex;
  justify-content: center;
  margin-bottom: 10.9375rem;
}

#services .content-size {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas:
    'web-design int-design web-devel'
    'ux-design motion-graph seo-opt';
}

.grid-item {
  height: 370px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2.125rem;
  text-align: center;
  line-height: 24px;
}

.grid-icon {
  color: white;
  height: 65px;
  margin-bottom: 1.5625rem;
}

.grid-item h3 {
  font-size: 1.5rem;
  color: #ffffff;
}

.grid-item p {
  font-size: 1rem;
  color: #ffffff;
}

.bg-purple {
  background-color: #8540ff;
  box-shadow: 0 0 35px rgba(118, 13, 255, 0.35);
}

.bg-yellow {
  background-color: #ffc50c;
  box-shadow: 0 0 35px rgba(255, 197, 12, 0.35);
}

.bg-pink {
  background-color: #ec407a;
  box-shadow: 0 0 35px rgba(236, 64, 122, 0.35);
}

.bg-orange {
  background-color: #ff6331;
  box-shadow: 0 0 35px rgba(255, 99, 49, 0.35);
}

.bg-blue {
  background-color: #13b6ff;
  box-shadow: 0 0 35px rgba(19, 182, 255, 0.35);
}

.bg-green {
  background-color: #49af46;
  box-shadow: 0 0 35px rgba(73, 175, 70, 0.35);
}

#resume {
  display: flex;
  justify-content: center;
  margin-bottom: 12.5rem;
  padding-top: 7.5rem;
}

#resume .content-size {
  display: flex;
  flex-direction: column;
}

.resume-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.resume-info-menu {
  min-width: 370px;
  padding: 3.375rem 1.625rem 3.375rem 4rem;
  position: relative;
}

.resume-info-menu ul li {
  font-size: 1.25rem;
  line-height: 24px;
  padding: 0.3125rem;
  margin-bottom: 1.625rem;
  display: flex;
  align-items: center;
  position: relative;
}

.resume-info-menu ul li {
  color: #95a5c6;
  transition: all 0.2s ease;
  cursor: pointer;
}

.resume-info-menu ul li:hover,
.resume-info-menu ul li:active,
.resume-info-menu ul li.is-active {
  color: #ffffff;
}

.resume-info-menu ul li:last-of-type {
  margin-bottom: 0;
}

.resume-info-menu::before {
  content: '';
  display: block;
  background-color: #0abead;
  height: 416px;
  width: 42px;
  position: absolute;
  top: 0;
  left: 0;
}

.resume-info-menu ul li::before {
  content: '';
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #0abead;
  border-radius: 50%;
  position: absolute;
  left: -55px;
  transition: all 0.2s ease;
}

.resume-info-menu ul li:hover::before,
.resume-info-menu ul li:active::before,
.resume-info-menu ul li.is-active::before {
  width: 303px;
  left: -64px;
  border-radius: 25px;
  z-index: -1;
}

.resume-info-details {
  position: relative;
  width: 100%;
}

.resume-info-details ul {
  padding-left: 3.75rem;
  max-height: 422px;
  overflow: auto;
}

.resume-info-details ul li::before {
  content: '';
  display: inline-block;
  height: 100%;
  border-right: 1px solid #0abead;
  position: absolute;
  top: 0;
  left: -30px;
}

.resume-info-details h3 {
  font-size: 1.25rem;
  color: #f57f17;
  line-height: 24px;
}

.resume-info-details h4,
.resume-info-details p {
  font-size: 1rem;
  color: #95a5c6;
  line-height: 24px;
}

.resume-info-details h4 {
  font-weight: 600;
}

.resume-info-details ul li {
  padding-bottom: 1.25rem;
  position: relative;
}

.resume-info-details ul li:last-of-type {
  padding-bottom: 0;
}

.resume-info-details ul li::after {
  content: '';
  display: inline-block;
  background-color: #0abead;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -38.5px;
}

.resume-years {
  font-size: 1rem;
  color: #ffffff;
  background-color: #f57f17;
  padding: 0.25rem 1rem;
  border-radius: 15px;
  box-shadow: 0 3px 7px rgba(245, 127, 23, 0.24);
  position: absolute;
  right: 0;
  top: 0;
}

#portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 12.5rem;
  padding-top: 7.5rem;
}

#portfolio .content-size {
  display: flex;
  flex-direction: column;
}

.portfolio-list {
  align-self: center;
  width: 100%;
}

.portfolio-list ul {
  display: flex;
  margin-bottom: 4.375rem;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-self: center;
  overflow-x: auto;
}

.portfolio-list ul li {
  font-size: 1rem;
  line-height: 24px;
  margin-right: 0.3125rem;
  display: flex;
}

.portfolio-list ul li:last-of-type {
  margin-right: 0;
}

.portfolio-list ul li a {
  color: #95a5c6;
  padding: 0.75rem 2.5rem;
  transition: all 0.2s ease;
}

.portfolio-list ul li a:hover,
.portfolio-list ul li a:active,
.portfolio-list ul li a.is-active {
  color: #ffffff;
  background-color: #0abead;
  border-radius: 25px;
}

.portfolio-details {
  display: flex;
  margin-bottom: 4.375rem;
}

.portfolio-details-img {
  height: 440px;
  width: 370px;
  margin-right: 1.875rem;
  box-shadow: 0 0 59px rgba(74, 249, 255, 0.21);
}

.portfolio-details-img:last-of-type {
  margin-right: 0;
}

.portfolio-details-img img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.portfolio-buttons {
  display: flex;
}
/* 
.portfolio-btn {
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 4px solid #bfbebe;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.portfolio-btn:last-of-type {
  margin-right: 0;
}

.portfolio-btn:active,
.portfolio-btn.is-active,
.portfolio-btn:focus {
  border: 4px solid #09bead;
  outline: none;
} */

#pricing {
  display: flex;
  justify-content: center;
  padding-top: 7.5rem;
  margin-bottom: 17.5rem;
}

#pricing .content-size,
#contact-us .content-size {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pricing-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing-card {
  height: 600px;
  width: 370px;
  margin-right: 1.875rem;
  margin-bottom: 0.5rem;
}

.pricing-card:last-of-type {
  margin-right: 0;
}

.card-heading {
  padding: 1.875rem 6.25rem;
  text-align: center;
}

.card-heading h3 {
  font-size: 2.25rem;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 1.25rem;
}

.card-heading p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 40px;
  font-weight: 200;
}

.card-heading p.price {
  font-size: 1.5rem;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 0.625rem;
}

.card-heading.heading-orange {
  background-color: #ff6331;
}

.orange-btn {
  background-color: #f57f17;
  transition: background-color 1s;
}

.orange-btn:hover,
.orange-btn:active {
  background-color: #d56e13;
}

.card-heading.heading-purple,
.purple-btn {
  background-color: #803afb;
}

.purple-btn,
.pink-btn {
  transition: background-color 1s;
}

.purple-btn:hover,
.purple-btn:active {
  background-color: #6126c7;
}

.card-heading.heading-pink,
.pink-btn {
  background-color: #f5276c;
}

.pink-btn:hover,
.pink-btn:active {
  background-color: #c0144d;
}

.orange-btn {
  box-shadow: 0 16px 28px rgba(245, 127, 23, 0.24);
}

.purple-btn {
  box-shadow: 0 16px 28px rgba(128, 58, 251, 0.24);
}

.pink-btn {
  box-shadow: 0 16px 28px rgba(245, 39, 108, 0.24);
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875rem 0 2.8125rem 0;
}

.card-details ul li {
  color: #95a5c6;
  font-size: 1rem;
  line-height: 47px;
}

.card-details ul {
  margin-bottom: 1.75rem;
}

.tick {
  height: 10px;
  margin-right: 1rem;
}

#contact-us {
  display: flex;
  justify-content: center;
  padding-top: 7.5rem;
}

.contact-us-details {
  padding: 2.5rem 2.8125rem;
}

.contact-us-details h3 {
  font-size: 2.25rem;
  line-height: 43.2px;
  color: #0abead;
  margin-bottom: 1.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  display: flex;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  padding: 0.875rem 1.875rem;
  margin-bottom: 1.25rem;
  border: none;
  background-color: #161d26;
  box-shadow: 0 0 15px rgba(96, 233, 255, 0.27);
  border-radius: 10px;
  width: 100%;
}

.contact-form input#submit {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 21.6px;
  background-color: #0abead;
  cursor: pointer;
  transition: background-color 1s;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #95a5c6;
  font-size: 16px;
  line-height: 19.6px;
}

.contact-form textarea {
  min-height: 184px;
}

.contact-form input#submit:hover,
.contact-form input#submit:active {
  background-color: #0bab9b;
}

.contact-form input,
.contact-form textarea {
  color: #ffffff;
  font-size: 16px;
  line-height: 19.6px;
}

footer {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
}

footer .content-size {
  display: flex;
  justify-content: space-between;
}

footer p {
  font-size: 1.125rem;
  line-height: 21.6px;
  letter-spacing: 2.5px;
  color: #95a5c6;
}

.contact-logos {
  display: flex;
}

.contact-logos li svg {
  height: 45px;
  color: #1f2935;
  border-radius: 50%;
  transition: color 1s, box-shadow 1s;
}

.contact-logos li {
  margin-right: 0.9375rem;
}

.contact-logos li:last-of-type {
  margin-right: 0;
}

.contact-logos svg:hover,
.contact-logos svg:active {
  color: #0abead;
  box-shadow: 0 0 20px rgba(96, 233, 255, 0.27);
}

@media only screen and (max-width: 970px) {
  html,
  body {
    font-size: 13px;
  }
  .content-size {
    padding: 0.625rem;
  }
  .portfolio-list ul li a {
    padding: 0.75rem 1.75rem;
  }
  /* nav li {
    margin: 0 0.625rem;
  }

  nav li:last-of-type {
    margin: 0;
  } */

  .welcome-img {
    height: 400px;
    width: 400px;
  }

  .resume-info-menu::before {
    height: 370px;
    width: 32px;
  }

  .resume-info-menu ul li::before {
    height: 40px;
    width: 40px;
    left: -40px;
  }

  .resume-info-menu ul li:hover::before,
  .resume-info-menu ul li:active::before,
  .resume-info-menu ul li.is-active::before {
    width: 230px;
    left: -40px;
  }
}

@media only screen and (max-width: 820px) {
  html,
  body {
    font-size: 11px;
  }
}

@media only screen and (max-width: 790px) {
  header {
    height: 70px;
  }

  .about-us-img {
    height: 421.2px;
    width: 300px;
  }

  .about-us-text {
    padding: 0.625rem 2.125rem;
    max-height: 421.5px;
  }

  .about-us-text ul {
    margin-bottom: 1rem;
  }

  .about-us-text ul li::before {
    height: 7.5px;
    width: 7.5px;
  }

  .about-us-text p {
    margin-bottom: 1rem;
  }

  button {
    height: 40px;
    width: 100px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      'web-design int-design'
      'web-devel ux-design'
      'motion-graph seo-opt';
  }
  .grid-item {
    height: 250px;
    width: 250px;
  }

  .resume-info-menu {
    padding-right: 0;
  }

  .portfolio-details-img {
    height: 286px;
    width: 240.5px;
  }

  .portfolio-details {
    margin-bottom: 1.375rem;
  }

  .portfolio-list ul {
    margin-bottom: 1.375rem;
  }

  .heading {
    margin-bottom: 3.875rem;
  }

  .heading::before {
    top: 90px;
  }

  .heading::after {
    top: 95px;
  }

  .pricing-card {
    width: 240px;
    height: inherit;
  }

  .card-heading,
  .card-details {
    padding: 0.5rem;
  }

  .card-details ul {
    margin-bottom: 0;
  }

  .card-details ul li {
    line-height: 35px;
  }

  footer {
    height: 40px;
  }

  .contact-logos li svg {
    height: 42px;
  }

  .contact-logos li {
    margin-right: 1.4rem;
  }
  .resume-info-menu {
    min-width: 270px;
  }
}

@media only screen and (max-width: 768px) {
  .burger-menu-btn {
    display: flex;
  }

  .navigation {
    display: flex;
    position: fixed;
    right: -200px;
    z-index: -1;
    background-color: #1f2935;
    top: 70px;
    height: calc(100vh - 70px);
    padding: 20px;
    width: 200px;
    box-shadow: -1px 0px 10px 2px rgba(0, 0, 0, 0.1);
    transition: right 0.2s ease;
  }

  .navigation.is-active {
    right: 0;
  }

  .navigation.is-active::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 105%;
    background-color: #1f2935;
    top: -12px;
    right: 0;
    z-index: 1;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .navigation ul li {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    padding: 10px 0;
  }

  .portfolio-list ul {
    justify-content: flex-start;
  }

  .portfolio-details-img:nth-child(3) {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .about-us-text h3,
  .about-us-text p,
  .about-us-text ul li {
    line-height: 16px;
  }

  .welcome-img {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .welcome-info {
    position: relative;
  }

  .welcome-text {
    margin-bottom: 200px;
  }

  .welcome-img {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 20px solid #1f2935;
    top: 285px;
  }

  #welcome .content-size {
    justify-content: center;
  }

  .about-me-btns {
    justify-content: center;
  }

  .about-us-info {
    flex-direction: column;
    align-items: center;
  }

  .about-us-img {
    height: 324px;
    width: 285px;
  }

  .about-us-text {
    max-width: 285px;
  }

  .portfolio-details-img:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      'web-design'
      'int-design'
      'web-devel'
      'ux-design'
      'motion-graph'
      'seo-opt';
  }

  .resume-info {
    flex-direction: column;
  }

  .resume-info-menu::before {
    height: 270px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-us-details {
    padding: 1.5rem 1.8125rem;
  }

  .contact-us-details h3 {
    margin-bottom: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    margin-bottom: 1rem;
  }

  .contact-form {
    max-width: 320px;
  }

  .contact-form textarea {
    min-height: 100px;
    height: 120px;
  }
}
